@import "tailwindcss";

@theme {
  /* colors */
  --color-primary: #3B82F6;
  --color-secondary: #10B981;
  --color-dark: #1F2937;
  --color-light: #F9FAFB;
  --color-gray-text: #6B7280;

  /* fontFamily */
  --font-sans: 'Inter', 'sans-serif';
}